@tailwind base;
@tailwind components;
@tailwind utilities;
 
body{
  background-color: black;
  color: white;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f7u21c');
  src:  url('../fonts/icomoon.eot?f7u21c#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f7u21c') format('truetype'),
    url('../fonts/icomoon.woff?f7u21c') format('woff'),
    url('../fonts/icomoon.svg?f7u21c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_call:before {
  content: "\e902";
  color: #fff;
}
.icon-icon_email:before {
  content: "\e903";
  color: #fff;
}
.icon-material-symbols_check-circle-outline-rounded:before {
  content: "\e904";
  color:#FAFF00;
}
.icon-icon_line:before {
  content: "\e900";
  color: #faff00;
}
.icon-icon_-eqipment:before {
  content: "\e908";
  color: #faff00;
}
.icon-icon_-fitness-zones:before {
  content: "\e91d";
  color: #faff00;
}
.icon-icon_time:before {
  content: "\e91e";
  color: #faff00;
}
.icon-inst:before {
  content: "\e91f";
  color: #fff;
}
.icon-youtube:before {
  content: "\e920";
  color: #fff;
}
.icon-twitter:before {
  content: "\e921";
  color: #fff;
}
.icon-menu:before {
  content: "\e901";
}

 @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

 
}

  /* @layer base {
   {
    @apply border-border;
  }
 
}  */